@media (min-width: 1630px){
    .gameItems{
        margin-top: -470px;
    }
}
@media (min-width:1200px) and (max-width: 1630px){
    .gameItems{
        margin-top: -370px;
    }
}
@media (min-width:1024px) and (max-width: 1200px){
    .gameItems{
        margin-top: -300px;
    }
}
@media (min-width:768px) and (max-width: 1024px){
    .gameItems{
        margin-top: -250px;
    }
}
@media (min-width:470px) and (max-width: 768px){
    .gameItems{
        width: 300px;
        margin: -200px auto;
    }
}

@media (max-width:470px){
    .gameItems{
        width: 300px;
        margin: -150px auto;
    }
}