.readMore{
	width: 120px;
	height: 50px;
	position: absolute;
	left: 300px;
	bottom: 200px;
	background-color: transparent;
	border-bottom: 3px solid #ffc107;
	z-index: 1;
}
.readMore a{
	position: absolute;
	left: 15px;
	top: 10px;
	color:#ffc107;
	text-decoration: none;
	font-weight: bold;
}
.readMoreOverlay{
	position: absolute;
 	top: 100%;
  	left: 0;
  	right: 0;
  	background-color: #ffc107;
  	overflow: hidden;
  	width: 100%;
  	height: 0;
  	transition: .5s ease;
}
.readMore:hover .readMoreOverlay{
	top: 0;
	height: 100%;
	z-index: -1;
}
.readMore:hover a{
	color: white;
}