@media (min-width: 900px) and (max-width: 1024px){
    .waveDown{
        margin-top: 70px;
    }
}

@media (min-width: 768px) and (max-width: 900px){
    .waveDown{
        margin-top: 100px;
    }
}

@media (min-width: 520px) and (max-width: 768px){
    .waveDown{
        margin-top: 150px;
    }
}
@media (max-width: 520px){
    .waveDown{
        margin-top: 200px;
    }
}