.navMaster{
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 5;
}
.navbar {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 85%;
}
@media (max-width: 1024px) {
  .nav-container{
      max-width: 90%;
  }
  .navbar{
    opacity: 1;
  }
}
.nav-logo {
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  flex-grow: 1;
  width: 180px;
}
.nav-logo2{
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  width: 60px;
  margin-left: -4rem;
}
@media  (min-width: 1024px) and (max-width: 1300px){
  .nav-logo {
    width: 130px;
    height: 50px;

  }
  .nav-logo2{
    width: 50px;
    margin-left: -4rem;
  }
}
@media  (min-width: 1300px) and (max-width: 1500px){
  .nav-logo2{
    margin-left: -4rem;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .nav-logo {
      margin-left: 10px;
      width: 150px;
      height: 50px;
      margin-top: -10px;
    }
    .nav-logo2{
      width: 50px;
      margin-left: 0px;
      margin-top: -5px;
    }
    .navbar{
      height: 70px;
    }
}
@media (max-width: 760px){
  .nav-logo {
      width: 90px;
      height: 30px;
      margin-top: -15px;
    }
    .nav-logo2{
      width: 50px;
      margin-top: -12px;
      margin-left: 0px;
    }
    .navbar{
      height: 70px;
    }
}

@media (max-width: 540px){
  .nav-logo {
    margin-top: -18px;
    margin-left: 2px;
  }
  .nav-logo2{
    display: none;
  }
  .navbar{
    height: 50px;
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  margin-top: 3rem;
  z-index: 4;
}

.nav-links {
  font-family: 'Consolas'; 
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 0.7rem 1rem;
}
.nav-links:hover{
  text-decoration: none;
    color: white;
}
@media  (min-width: 1024px) and (max-width: 1300px){
  .nav-menu{
    display: flex;
    list-style: none;
    text-align: center;
    margin-top: 3rem;
    z-index: 2;
  }
}
/* @media  (min-width: 1430px) and (max-width: 1500px){
  .nav-menu{
    margin-right: -1.5rem;
  }
}

@media  (min-width: 1300px) and (max-width: 1430px){
  .nav-menu{
    margin-right: -1.5rem;
  }
}
@media  (min-width: 1150px) and (max-width: 1300px){
  .nav-menu{
    margin-right: -1.5rem;
  }
} */
.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}


.nav-item:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: black;
}

.nav-item .active {
  color: white;
  padding-bottom: 0.8rem;
  border-bottom: 3px solid black;
}

.navBox img{
  position: fixed;
  top:30px;
  left: 30%;
  width: 70%;
  height: 70px;
  z-index: 2;
}
.menuButton{
  color: #ffc107;
}
.searchIcon{
  z-index: 5;
  position: relative;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
@media  (min-width: 541px) and (max-width: 1024px){
  .searchIcon{
       top: -1rem;
  }

}

@media  (max-width: 540px){
  .searchIcon{
    top: -1.5rem;
  }
  .searchBar{
    width: 100%;
    top: -0.5rem
  }
}

/* .navMaster{
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 2;
}
.navbar {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 20;
    opacity: 0.8;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 90%;
  }
  @media (max-width: 1024px) {
    .nav-container{
        max-width: 90%;
    }
  }
  .nav-logo {
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    flex-grow: 1;
    width: 170px;
  }
  .nav-logo2{
    align-items: center;
    margin-left: 0px;
    cursor: pointer;
    flex-grow: 1;
    width: 70px;
  }

  @media (min-width: 760px) and (max-width: 1024px) {
    .nav-logo {
        margin-left: 10px;
        width: 150px;
        height: 50px;
      }
      .nav-logo2{
        align-items: center;
        margin-left: 20px;
        cursor: pointer;
        flex-grow: 1;
        width: 50px;
        margin-left: 0px;
      }
  }
  @media (max-width: 760px){
    .nav-logo {
        width: 90px;
        height: 30px;
        margin-top: -10px;
      }
      .nav-logo2{
        width: 50px;
        margin-top: -8px;
        margin-left: -20px;
      }
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 12rem;
    margin-top: 3rem;
    z-index: 2;
  }
  
  .nav-links {
    font-family: 'Consolas'; 
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;

  }
  .nav-links:hover{
    text-decoration: none;
      color: white;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: black;
  }
  
  .nav-item .active {
    color: white;
    border-bottom: 3px solid black;
  }

  .navBox img{
    position: fixed;
    top:30px;
    left: 30%;
    width: 70%;
    height: 70px;
    z-index: 2;
  } */

  
  /* @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  } */